*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}


html{
    scroll-behavior: smooth;
}


body{
    background-color: #080808;
    color: #ffffff;
}


#header{
    width: 100%;
    height: 100vh;
    background-image: url(img-back.webp);
    background-color: #080808;
    color: #ffffff;
    background-size: cover;
    background-position: center;
}


.container{
    padding: 10px 10%;
}


nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}


.logo{
    width: 150px;
        
}


nav ul li{
    display: inline-block;   /*--- for horizontally aligned ---*/
    list-style-type: none;
    margin: 10px 20px;
}


nav ul li a{
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}


nav ul li a::after{
    content: '';
    width: 0%;
    height: 3px;
    background-color: #ff004f;
    position: absolute;
    left: 0%;
    bottom: -6px;
    transition: 0.5s;
}


nav ul li a:hover::after{
    width: 100%;
}


.header-text{
    margin-top: 20%;
    font-size: 30px;
}
.header-text h1{
    margin-top: 20px;
    font-size: 60px;
}


.header-text h1 span{
    color: #ff004f;
}


#about{
    background-color: #080808;
    padding: 80px 0;
    color: #ababab;
}


.row{
    display: flex;   /*--- to keep all the boxes one by one near to near -----*/
    justify-content: space-between;  /*----- to keep all the boxes with equal space between ---*/
    flex-wrap: wrap;   /*----- it remove the unwanted spaces which came when you use flex ---*/
}


.about-col-1{
    flex-basis: 35%;
}


.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}


.about-col-2{
    flex-basis: 60%;   /*--- to give a space for  a particular div ---*/
}


.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: #ffffff;
}


.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}


.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}


.tab-links::after{
    content: '';  /*--- in after what the content that should show there like a text ---*/
    width: 0;
    left: 0;
    bottom: -8px;
    height: 3px;
    background-color: #ff004f;
    position: absolute;  /*--- It will position itself according to the closest positioned ancestor. ---*/
    transition: 0.5s;
}


.tab-links.active-link::after{
    width: 50%;

}


.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}


.tab-contents ul li span{
    color: #b54769;
    font-size: 14px;
}


.tab-contents{
    display: none;
}


.tab-contents.active-tab{
    display: block;
}


#services{
    padding: 40px 0;
}


.services-list{
    display: grid ;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}


.services-list div{
    background-color: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-right: 10px;
    transition: background 0.5s, transform 0.5s;
}


.services-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}


.services-list div i h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}


.services-list div i a{
    text-decoration: none;
    color: #ffffff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;   /*--- "display: inline-block" allows to set a width and height on the element. ---*/
}


.services-list div:hover{
    background-color: #ff004f;
    transform: translateY(-10px);
}


#portfolio{
    padding: 50px 0;
}


.work-list{
    display: grid ;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}


.work{
    border-radius: 10px;
    position: relative;  /*--- It will also act as anchor point for the absolutely positioned Child2 element: ---*/
    overflow: hidden;
}


.work img{
    width: 100%;
    border-radius: 10px;
    display: block; /*--- A display property with a value of "block" results in a line break between each span elements. ---*/
    transition: transform 0.5s;
}


.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6),#ff004f);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;        /*--- The overflow property specifies whether to clip the content or to add scrollbars when the content of an element is too big to fit in the specified area. ---*/
    display: flex;              /*--- it will arrange elements straight one by one ---*/
    font-size: 14px;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;         /*--- The flex-direction property specifies the direction of the flexible items. ---*/
    padding: 0 40px;
    transition: height 0.5s;
}


.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}


.layer a{
    margin-top: 20px;
    color: #ff004f;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;              /*--- Set the line height for different <div> elements: ---*/
    background: #ffffff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}


.work:hover img{
    transform: scale(1.1);       /*--- method increases or decreases the size of an element  ---*/
}


.work:hover .layer{
    height: 100%;
}


.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #ffffff;
    transition: background 0.5S;
}


.btn:hover{
    background-color: #ff004f;
}


.contact-left{
    flex-basis: 35%;
}


.contact-right{
    flex-basis: 60%;
}


.contact-left p{
    margin-top: 30px;
}


.contact-left p i{
    color: #ff004f;
    margin-right: 15px;
    font-size: 25px;
}


.social-icons{
    margin-top: 30px;
}


.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}


.social-icons a :hover{
    color: #ff004f;
    transform: translateY(-5px);
}


.btn.btn2{
    display: inline-block;
    background-color: #ff004f;
}


form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background-color: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #ffffff;
    font-size: 18px;
    border-radius: 6px;
}


form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}


.copyright{
    width: 100%;
    text-align: center;
    padding: 20px 0;
    background-color: #262626;
    font-weight: 300;
    margin-top: 20px;
}


.copyright i{
    color: #ff004f;
}


/* ----------------- css for small screens ---------  */



nav .fa-solid{
    display: none;
}


@media only screen and (max-width: 600px){
    #header{
        background-image: url(img-4.jpg)
    }
    .header-text{
        margin-top: 100%;
        font-size: 16px;
    }
    .header-text h1{
        font-size: 30px;
    }
    nav .fa-solid{
        display: block;
        font-size: 25px;
    }
    nav ul{
        background-color: #ff004f;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fa-solid{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    .sub-title{
        font-size: 40px;
    }
    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        margin-bottom: 30px;
    }
    .about-col-2{
        font-size: 14px;
    }
    .tab-links{
        font-size: 16px;
        margin-right: 20px;
    }
    .contact-left, .contact-right{
        flex-basis: 100%;
    }
    .copyright{
        font-size: 14px;
    }
}


#msg{
    color: #61b752;
    margin-top: -40px;
    display: block;
}
